[Unit]
Description=AMT Price List backup timer

[Timer]
OnCalendar=*-*-* 02:00:00 Asia/Riyadh
Persistent=true
AccuracySec=1m
Unit=amt-pricelist-backup.service

[Install]
WantedBy=timers.target
